---
layout: default
---
<div class="row justify-content-center mt-3">
  <div class="col-lg-10">
    <article> 

      <header>
        <h1>{{ page.title | escape }}</h1>
      </header>
  
      {% for material in site.library %}

        {% if forloop.first == true %} 
          <h5>
        {% else %}
          <h5 class="border-top">
        {% endif %}
        <a href="{{ material.url }}">
          {{ material.title }}
        </a>                       
      </h5>
      
      <p> {{ material.description }} </p>

      {% endfor %}

    </article>
  </div>
</div>
